<tbody>
  <tr class="candidates-list">
    <td class="candidate-list-favourite-time text-center id_clubs">
      <%= club.id %>
    </td>

    <td class="candidate-list-favourite-time text-center avatar_clubs">
      <div class="thumb">
        <% if club.avatar.attached? %>                    
          <%= image_tag club.avatar %>
        <% else %>
          <%= image_tag image_url("no-logo.png") %>
        <% end %>
      </div>
    </td>

    <td class="title name_clubs">                   
      <div class="candidate-list-details">
        <div class="candidate-list-info">
          <h5 class="mb-0 text-center "><%= club.name %></h5>                                           
        </div>
      </div>
    </td>

    <td class="title name_clubs">                   
      <div class="candidate-list-details">
        <div class="candidate-list-info">
          <h5 class="mb-0 text-center "><%= club.players.count %></h5>                                           
        </div>
      </div>
    </td>
    
    <td>
      <ul class="list-unstyled mb-0 justify-content-end action-list"> 
        <li><%= link_to 'Player', club_players_path(club), class: "text-action" %>
          <i class="fa-regular fa-user-group"></i>
        </li>
        <% if current_user.admin? || current_user.clubs.include?(club) %>
          <li><%= link_to 'Edit', edit_club_path(club), class: "text-action" %>
            <i class="fas fa-pencil-alt"></i>
          </li>
        <% end %>
        <li><%= link_to 'User', club_users_path(club), class: "text-action" %>
          <i class="fa-regular fa-user"></i>
        </li>
        <% if current_user.admin? && club.can_delete? %>
          <li><%= link_to 'Destroy', club , method: :delete, 
                                            data: { confirm: 'Bạn có chắc chắn muôn xóa câu lạc bộ này?' },
                                            class: "text-action" %>
            <i class="far fa-trash-alt"></i>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</tbody>
