<div class="card p-3" style="background-color: #FAFAD2">
  <%= form_with(model: club) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="mb-3">
      <%= f.label :avatar, class:"mt-2"%>
      <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png",
                                class: "ps-3",
                                direct_upload: true %>
    </div>
      
    <div class="d-flex justify-content-start">
      <%= f.submit yield(:button_label), class: "btn btn-lg btn-primary mt-4" %>
    </div>
  <% end %>
</div>
