<% provide(:title, "#{@club.name} - Edit") %>
<% provide(:button_label, "Edit") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center mt-4">
    <h3><%= @club.name %> - Edit</h3>
  </div>
  <div class="d-flex justify-content-start mb-4">
    <%= link_to 'Back', clubs_path, class: "btn btn-lg btn-secondary" %>
  </div>
  <%= render "form", club: @club %>
</div>
