<% provide(:title, "Clubs List") %>
<div class="container min-vh-100 mt-3 mb-4">
  <h1 class="club-title">List clubs (<%= Club.count %>)</h1>

  <div class="d-flex justify-content-between mb-3">
    <div class="row d-flex justify-content-between">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.search_field :name_cont %>
        <%= f.submit %>
          <!-- check value search if null return list clubs -->
          <% if params[:q].present? %>
          <%= link_to clubs_path, class: "ms-1" do %>
            <i class="fa fa-sync"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if current_user.admin? %>
        <%= link_to 'New Clubs', new_club_path , class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="club-dashboard-info-box table-responsive mb-0 bg-white p-4">
        <table class="table table-hover manage-candidates-top mb-0">
          <thead >
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Avatar Clubs</th>
              <th class="text-center">Name Clubs</th>
              <th class="text-center">Players</th>
              <th class="action-list">Action</th>
            </tr>
          </thead>
          <%= render @clubs %>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">     
    <%= paginate @clubs %>  
  </div>
</div>
