<% provide(:title, "New club") %>
<% provide(:button_label, "Create") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center mt-4">
    <h3>New Club</h3>
  </div>
  <div class="d-flex justify-content-start mb-4">
    <%= link_to 'Back', clubs_path, class: "btn btn-lg btn-secondary" %>
  </div>
  <%= render "form", club: @club %>
</div>
