<li class="list-group-item">
  <div class="d-flex align-items-center">
    <div class="me-3 pe-3 fst-italic fw-bold border-end border-3">
      <%= macth_time(match.time) %>
    </div>
    <div class="flex-grow-1 row">
      <div class="col-6 bg-danger p-1 fw-normal text-light">
        <% if match.home&.avatar&.attached? %>
          <%= image_tag match.home.avatar, width: "32" %>
        <% else %>
          <%= image_tag image_url("no-logo.png"), width: "32" %>
        <% end %>
        <%= match.home.name %>
      </div>
      <div class="col-6 bg-primary p-1 fw-normal text-light">
        <% if match.away&.avatar&.attached? %>
          <%= image_tag match.away.avatar, width: "32" %>
        <% else %>
          <%= image_tag image_url("no-logo.png"), width: "32" %>
        <% end %>
        <%= match.away.name %>
      </div>
    </div>
  </div>
</li>
