<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <%= link_to tournament.name, tournament_clubs_path(tournament) %>
    <%= link_to tournament_path(tournament) do %>
      <i class="fa-solid fa-angle-right"></i>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render partial: "match", collection: tournament.not_done_matches %>
  </ul>
</div>
