<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <%= title %>
    <%= link_to tournaments_path do %>
      <i class="fa-solid fa-angles-right"></i>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render partial: "widget_item", collection: array %>
  </ul>
</div>
