<% provide(:title, "Dashboard") %>
<div class="container min-vh-100">
  <div class="row">
    <div class="col-8">
      <%= render partial: "tournament", collection: @data[:started] %>
      <div class="d-flex justify-content-center">
        <%= paginate @data[:started] %>
      </div>
    </div>
    <div class="col-4">
      <%= render "widget", title: "Comming Soon", array: @data[:newly] %>
      <%= render "widget", title: "Finshed", array: @data[:finished] %>
    </div>
  </div>
  <div class="row mt-5 p-2 bg-light rounded border border-2">
    <%= line_chart @data[:chart], height: "20rem",
                   title: "New #{current_user.admin? ? 'Users' : 'Players'}",
                   messages: { empty: "No data!" } %>
  </div>
</div>
