<% provide(:title, "Introduce") %>
<div class="container min-vh-100">
  <table class="table table-success table-striped">
  <h1 class="text-center mb-5">Clouds Team</h1>
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Trần Mưa Phi Bảo</td>
          <td>Dev</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Võ Ngọc Thiện</td>
          <td>Dev</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Phan Văn Lâm</td>
          <td>Dev</td>
        </tr>
      </tbody>
  </table>
</div>
