<% provide(:title, "Login") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center my-4">
    <h1>Login</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-md-offset-3 card p-5 login-form">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', required: true %>
          <% if @errors[:email].present? %>
            <div class="text-danger mt-1"><%= @errors[:email] %></div>
          <% end %>
        </div>
        
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', required: true %>
          <% if @errors[:password].present? %>
            <div class="text-danger mt-1"><%= @errors[:password] %></div>
          <% end %>
        </div>
        
        <div class="mb-3 form-check">
          <%= f.label :remember_me, class: "form-check-label" do %>
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <span>Remember me</span>
          <% end %>
        </div>
        
        <%= f.submit "Sign in", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>
