<tr class="candidates-list">
  <td class="candidate-list-favourite-time text-center id_players">
    <%= player.id %>
  </td>
  
  <td class="title name_players">                   
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <h5 class="mb-0 text-center name_player"><%= player.name %></h5>                                           
      </div>
    </div>
  </td>

  <td class="title name_players">                   
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <h5 class="mb-0 text-center name_player"><%= player.email%></h5>                                           
      </div>
    </div>
  </td>

  <% if current_user.admin? || @club.users.include?(current_user) %>
    <td>
      <ul class="list-unstyled mb-0  justify-content-end action-list">
        <li><%= link_to 'Edit',edit_club_player_path(@club,player), class: "text-action" %>
          <i class="fas fa-edit"></i>
        </li>
        <li><%= link_to 'Destroy', [@club, player], method: :delete, data: { confirm: 'Bạn có chắc chắn muôn xóa người dùng này?' }, class: "text-action" %>
          <i class="far fa-trash-alt"></i>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
