<% provide(:title, "#{@club.name} - Players") %>
<div class="container min-vh-100 mt-3 mb-4">
  <h1 class="club-title">List players of club <%= @club.name %></h1>
  <div class="d-flex justify-content-between my-3">
    <%= link_to 'Back to Clubs' , clubs_path, class: "btn btn-lg btn-secondary" %>
    <% if current_user.admin? || @club.users.include?(current_user) %>
      <%= link_to 'New Player', new_club_player_path(@club) , class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <div class="col-lg-12 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12"> 
        <div class="club-dashboard-info-box table-responsive mb-0 bg-white p-4">
          
          <table class="table table-hover manage-candidates-top mb-0">
            <thead >
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center"> Name</th>
                <th class="text-center">Email</th>
                <% if current_user.admin? || @club.users.include?(current_user) %>
                  <th class="text-center">Action</th>             
                <% end %>
              </tr>
            </thead>     
              <tr class="candidates-list">
                <%= render partial: "player", collection: @players %>
              </tr>
          </table>    
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">     
    <%= paginate @players %>  
  </div>
</div>
