<% provide(:title, "#{@club.name} - Add player") %>
<% provide(:button_label, "Create") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center mt-4">
    <h3><%= @club.name %> - New player</h3>
  </div>
  <div class="d-flex justify-content-start mb-4">
    <%= link_to 'Back', club_players_path(@club), class: "btn btn-lg btn-secondary" %>
  </div>
  <%= render "form", player: @player %>
</div>
