<tr id="<%= club.id %>"=>
  <th scope="row"><%= club.id %></th>
  <td><%= club.name %></td>
  <td><%= club.players.size %></td>
  <td><%= date_formatter(club.created_at) %></td>
  <td>
    <section>
      <%= link_to club_players_path(club), class: "btn btn-info me-1" do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
      <% if current_user.admin? && @tournament.newly? %>
        <%= link_to tournament_club_path(@tournament, club), class: "btn btn-danger",
                                                       method: :delete,
                                                       data: { confirm: "Are you sure about this action?" } do %>
          <i class="fa-solid fa-trash-alt"></i>
        <% end %>
      <% end %>
    </section>
  </td>
</tr>
