<% provide(:title, "#{@tournament.name} - Clubs") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center">
    <h1><%= @tournament.name %> - Clubs</h1>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <% if @tournament.clubs.size < 16 %>
      <%= link_to "Add club", new_tournament_club_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @clubs %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @clubs %>
  </div>
</div>
