<% provide(:title, "#{ @tournament.name } - Add Club") %>
<div class="container min-vh-100">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Add Club</h1>
    <p class="fw-lighter fst-italic">
      This tournament has <%= pluralize(16 - @tournament.clubs.size, "slot") %> left
    </p>
  </div>

  <div class="d-flex justify-content-start mb-3">
    <%= link_to "Back to clubs", tournament_clubs_path(@tournament), class: "btn btn-lg btn-secondary" %>
  </div>
  
  <%= form_with(url: tournament_clubs_path(@tournament), scope: :tournament) do |form| %>
    <div class="mb-3">
      <%= form.label :clubs, class: "form-label" %>
      <%= form.select :tournament_clubs_attributes, @options, {},
                                 { multiple: true, id: 'select-clubs' } %>
    </div>

    <div class="d-flex justify-content-end mb-2">
      <%= form.submit 'Add', class: "btn btn-primary btn-lg mt-2" %>
    </div>
  <% end %>
</div>
