<%= form_with(model: tournament) do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="mb-3 <%= yield(:type) == 'new' ? 'd-none' : '' %>">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, options_for_select(Tournament.statuses.map {|key, value| [key.titleize, Tournament.statuses.key(value)]},
                            tournament.status), {}, { class: "form-select" } %>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <%= form.submit yield(:button_label), class: "btn btn-lg btn-primary mt-2" %>
  </div>
<% end %>
