<section>
  <div class="mb-1">
    <%= match.time.strftime("%B %d") %>
  </div>  
  <%= form_with(model: match, method: :put, local: false) do |form| %>
    <div class="d-flex">
      <div>
        <div class="d-flex border border-2 border-secondary mb-1 bg-secondary bg-info bg-gradient text-dark"
             id="team-<%= index * 2 %>">
          <div class="p-2">
            <img src="<%= avatar_url(match.home) %>" width="32">
          </div>
          <div class="p-2 flex-grow-1 align-self-center"><%= match.home&.name %></div>
          <%= form.number_field :club_one_score, 
                                class: "form-control w-25 #{bold_score(match.club_one_score, 
                                                                       match.club_two_score)}",
                                disabled: match.disabled? || current_user.normal? || @tournament.finished? %>
        </div>
        <div class="d-flex border border-2 border-secondary mb-1 bg-secondary bg-danger bg-gradient text-white"
             id="team-<%= index * 2 + 1 %>">
          <div class="p-2">
            <img src="<%= avatar_url(match.away) %>" width="32">
          </div>
          <div class="p-2 flex-grow-1"><%= match.away&.name %></div>
          <%= form.number_field :club_two_score,
                                class: "form-control w-25 #{bold_score(match.club_two_score, 
                                                                       match.club_one_score)}",
                                disabled: match.disabled? || current_user.normal? || @tournament.finished? %>
        </div>
      </div>
      <% if current_user.admin? %>
        <%= button_tag type: 'submit',
            class: "rounded-circle bg-primary align-self-center ms-1 #{(match.disabled? || @tournament.finished?) ? "d-none":  ""}" do %>
          <i class="fa-solid fa-check"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
