<tr id="<%= tournament.id %>"=>
  <th scope="row"><%= tournament.id %></th>
  <td><%= link_to tournament.name, tournament_path(tournament) %></td>
  <td><%= tournament.status %></td>
  <td><%= date_formatter(tournament.created_at) %></td>
  <td>
    <section>
      <%= link_to tournament_path(tournament), class: "btn btn-info me-1" do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
      <%= link_to tournament_clubs_path(tournament), class: "btn btn-primary me-1" do %>
        <i class="fa-solid fa-list"></i>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to edit_tournament_path(tournament), class: "btn btn-success me-1" do %>
          <i class="fa-solid fa-edit"></i>
        <% end %>
        <% if tournament.newly? %>
          <%= link_to tournament_path(tournament), class: "btn btn-danger",
                                                  method: :delete,
                                                  data: { confirm: "Are you sure about this action?" } do %>
            <i class="fa-solid fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </td>
</tr>
