<% provide(:title, "#{ @tournament.name } | Editing") %>
<% provide(:button_label, "Update") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center">
    <h1>Editing tournament</h1>
  </div>

  <div class="d-flex justify-content-between mb-2">
    <%= link_to "Back to tournaments", tournaments_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Show this tournament", @tournament, class: "btn btn-lg btn-info" %>
  </div>
  
  <%= render "form", tournament: @tournament %>
</div>
