<% provide(:title, "Tournaments list") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center">
    <h1>Tournamets list</h1>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="row d-flex justify-content-between">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.search_field :name_cont %>
        <%= f.submit %>
        <% if params[:q].present? %>
          <%= link_to tournaments_path, class: "ms-1" do %>
            <i class="fa fa-sync"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if current_user.admin? %>
        <%= link_to "New tournament", new_tournament_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tournaments %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @tournaments %>
  </div>
</div>
