<% provide(:title, "New tournament") %>
<% provide(:button_label, "Create") %>
<% provide(:type, "new") %>
<div class="container min-vh-100">
  <div class="d-flex justify-content-center text-center">
    <h1>New tournament</h1>
  </div>

  <div class="d-flex justify-content-start mb-2">
    <%= link_to "Back to tournaments", tournaments_path, class: "btn btn-lg btn-secondary" %>
  </div>
  
  <%= render "form", tournament: @tournament %>
</div>
