<% provide(:title, "#{@tournament.name} | Details") %>
<div class="container min-vh-100">
  <h1 class="text-center pb-2"><%= @tournament.name %></h1>
  <% if @tournament.newly? %>
  <h6 class="text-center p2">This tournament has not started yet!</h6>
  <% else %>
  <div class="row gx-5">
    <div class="col col-md-3 d-flex flex-column">
      <h5 class="border-bottom pb-2 align-self-center">Rounds Of 16</h5>
      <div class="d-flex flex-column justify-content-around flex-grow-1 mt-2">
        <% @tournament.matches.round_of_16.order(:id).each.with_index do |match, index| %>
          <%= render 'match', match: match, index: index %>
          <hr/>
        <% end %>
      </div>  
    </div>
    <div class="col col-md-3 d-flex flex-column">
      <h5 class="border-bottom pb-2 align-self-center">Quarter-finals</h5>
        <div class="d-flex flex-column justify-content-around flex-grow-1 mt-2">
        <% @tournament.matches.quarter_final.order(:id).each.with_index(8) do |match, index| %>
          <%= render 'match', match: match, index: index %>
        <% end %>
      </div>  
    </div>
    <div class="col col-md-3 d-flex flex-column">
      <h5 class="border-bottom pb-2 align-self-center">Semi-finals</h5>
      <div class="d-flex flex-column justify-content-around flex-grow-1 mt-2">
        <% @tournament.matches.semi_final.order(:id).each.with_index(12) do |match, index| %>
          <%= render 'match', match: match, index: index %>
        <% end %>
      </div>
    </div>
    <div class="col col-md-3 d-flex flex-column">
      <h5 class="border-bottom pb-2 align-self-center">Final</h5>
        <div class="d-flex flex-column justify-content-around flex-grow-1 mt-2">
        <%= render 'match', match: @tournament.matches.final.first, index: 14 %>
      </div>
    </div>
  </div>
  <% end %>
</div>
