<div class="card p-3" style="background-color: #FAFAD2">
  <%= form_with(model: [@club, user]) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
      
    <div class="mb-3">
      <%= f.label :password_confirmation %> 
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    
    <div class="d-flex justify-content-start">
      <%= f.submit yield(:button_label), class: "btn btn-lg btn-primary mt-4" %>
    </div>
  <% end %>
</div>
