<tr class="candidates-list">
  <td class="candidate-list-favourite-time text-center id_clubs">
    <%= user.id %>
  </td>
  
  <td class="title name_clubs">                   
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <h5 class="mb-0 text-center name_club"><%= user.name %></h5>                                           
      </div>
    </div>
  </td>

  <td class="title name_clubs">                   
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <h5 class="mb-0 text-center name_club"><%= user.email%></h5>                                           
      </div>
    </div>
  </td>

  <td>
    <ul class="list-unstyled mb-0  justify-content-end action-list">
      <% if current_user.admin? || @club.users.include?(current_user) %>
        <li><%= link_to 'Edit', edit_club_user_path(@club,user), class: "text-action" %>
          <i class="fas fa-edit"></i>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <li>
          <%= link_to 'Destroy', club_user_path(@club, user), method: :delete, 
                                data: { confirm: 'Bạn có chắc chắn muôn xóa người dùng này?' },
                                class: "text-action" %>
            <i class="far fa-trash-alt"></i>
        </li>
      <% end %>
    </ul>
  </td>
</tr>
