<% provide(:title, "#{@club.name} - Users List") %>
<div class="container min-vh-100 mt-3 mb-4">
  <h1 class="club-title">List user of clubs <%= @club.name%></h1>
  
  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'Back to Clubs' , clubs_path, class: "btn btn-lg btn-secondary" %>
    <% if current_user.admin? || @club.users.include?(current_user) %>
      <%= link_to 'New Users' , new_club_user_path , class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <div class="col-lg-12 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12"> 
        <div class="club-dashboard-info-box table-responsive mb-0 bg-white p-4">
          <table class="table table-hover manage-candidates-top mb-0">
            <thead >
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center"> Name</th>
                <th class="text-center">Email</th>
                <% if current_user.admin? || @club.users.include?(current_user) %>
                  <th class="action-list">Action</th>
                <% end %>
              </tr>
            </thead>

            <%= render @users %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">     
    <%= paginate @users %>  
  </div>
</div>
