// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* user-dashboard-info-box */
.club-title {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  // background-color: #3582f5cb;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 25px;
  border-radius: 6px;
  text-transform: uppercase;
  font-style: oblique;
  font-weight: bolder;
  background: rgb(218, 220, 231);
  background: radial-gradient(
    circle,
    rgba(218, 220, 231, 1) 0%,
    rgba(246, 191, 187, 1) 100%
  );
}
.club-dashboard-info-box {
  border-radius: 5px;
  -webkit-box-shadow: -9px 9px 21px 1px rgba(99, 90, 99, 0.85);
  -moz-box-shadow: -9px 9px 21px 1px rgba(99, 90, 99, 0.85);
  box-shadow: -9px 9px 21px 1px rgba(99, 90, 99, 0.85);
  background: rgb(218, 220, 231);
  background: linear-gradient(
    123deg,
    rgba(218, 220, 231, 1) 0%,
    rgba(213, 170, 170, 1) 100%
  );
}
.club-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
  overflow: hidden;
}

.club-dashboard-info-box .candidates-list .thumb img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s;
}
.club-dashboard-info-box .candidates-list .thumb:hover img {
  cursor: pointer;
  transform: scale(1.2);
}
.club-dashboard-info-box .candidates-list {
  .id_clubs {
    font-weight: 400;
    line-height: 81px;
    font-size: 17px;
    font-weight: 700;
  }
}
.club-dashboard-info-box .title {
  display: -ms-flexbox;

  -ms-flex-align: center;
  align-items: center;

  padding: 30px 0;
  .name_club {
    text-decoration: none;
    color: #2a2e32;

    font-weight: bolder;
  }
  .name_club:hover {
    color: #f83714;
    // color: black;
  }
}

.club-dashboard-info-box .table thead th {
  border-bottom: none;
}

.action-list {
  text-align: right;
  // margin-right: 12px;
}

/* Candidate List */
.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
  display: block;
  margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
  color: #0d6efd;
}

.text-action {
  padding: 2px;
  text-decoration: none;
  color: #646f79;
  font-weight: 600;
}
.fas,
.far {
  color: #646f79;
  cursor: pointer;
  padding-left: 5px;
}
.fas:hover {
  color: #0d6efd;
  cursor: pointer;
}
.new-club {
  margin-right: 10px;
  left: 50%;
  margin: 15px 10px;
}

// ---------------------css form --------------------

.container-clubs {
  width: 100%;
  min-height: 100vh;

  padding: 15px;

  background-position: center;

  z-index: 1;
  margin-left: 650px;
}

.wrap-club {
  // margin-top: 50px;
  width: 690px;
  height: 560px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(93, 84, 240, 0.5);
  background: -webkit-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.club-form {
  width: 100%;
}

.wrap-input100 {
  width: 50%;

  display: block;
  background-color: #fff;
  // border-radius: 20px;
  margin-top: 200px;
  background: transparent;
  height: 70px;
  justify-content: center;
  text-align: center;
}
.text-field {
  position: absolute;
  outline-style: none;
  // width: 200%;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 22px;
  padding-left: 70px;
  margin-left: 20px;
  // margin-left: 10%;
}
.text-label {
  // margin-left: 70px;
  font-size: 27px;
  font-weight: bolder;
  margin-left: 10%;
}
.container-club-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.club-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;
  margin-top: 200px;
  font-family: SourceSansPro-SemiBold;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.club-form-btn:hover,
.btn-back:hover,
.btn-new-club:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}

.container-club-form-btn-back {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.btn-new-club {
  margin-left: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;
  margin-top: 50px;
  font-family: SourceSansPro-SemiBold;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}
.btn-back {
  margin-left: 14%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;
  margin-top: 100px;
  font-family: SourceSansPro-SemiBold;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}
.title-new-club,
.title-edit-club {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: #bd59d4;
  margin-left: 210px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #bd59d4;
}

//player
.id_players {
  font-weight: 400;
  line-height: 81px;
  font-size: 17px;
  font-weight: 700;
}
// .title-new-player,
// .title-edit-player {
//   font-size: 35px;
//   text-transform: uppercase;
//   font-weight: bolder;
//   text-shadow: #bd59d4;
//   margin-left: 130px;
//   font-family: Georgia, "Times New Roman", Times, serif;
//   color: #bd59d4;
// }

.wrap-player {
  // margin-left: 600px;
  width: 690px;
  height: 560px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  // background: rgba(93,84,240,0.5);
  background: rgb(218, 220, 231);
  background: radial-gradient(
    circle,
    rgba(218, 220, 231, 1) 0%,
    rgba(246, 191, 187, 1) 100%
  );
  // background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  // background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  // background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  // background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  // box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  // -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  // -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  // -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  // -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
//user
.text-field-user {
  outline-style: none;
  border-radius: 20px;

  font-size: 22px;
  padding-left: 70px;
}
.wrap-input100-user {
  background-color: #fff;

  margin-top: 200px;
  background: transparent;
  justify-content: center;
  text-align: center;
}
