body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

a {
  text-decoration: none;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    border: 2px solid red;
  }
}

.login-form {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd);
  background: linear-gradient(to right, #efefbb, #d4d3dd);
}
