$("#team-<%= @match.next_match_position %> div:nth-child(2)").html("<%= @match.won_team.name %>");
$("#team-<%= @match.next_match_position %> div:first-child").children("img").attr('src', "<%= avatar_url(@match.won_team) %>");
$("#team-<%= @match.team_position[:won] %> input").addClass("fw-bold");
$("#team-<%= @match.team_position[:lost] %> input").removeClass("fw-bold");
<% unless @match.disabled_position == -1 %>
  $.each(<%= (@match.disabled_position..@match.disabled_position + 3).to_a %>, function(index, value) {
    $("#team-" + value + " input").prop('disabled', true);
    if (index % 2 == 0) $("#team-" + value).parent().parent().children("button").addClass("d-none");
  })
<% end %>
