<footer class="bg-dark mt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
        <h5 class="text-uppercase text-light">About</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <%= link_to "Introduce", introduce_path, class: "text-light", target: "_blank" %>          
          </li>
          <li>
            <%= link_to "Contract", "#", class: "text-light" %>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
        <h5 class="text-uppercase text-light">Policy</h5>

        <ul class="list-unstyled  mb-0">
          <li>
            <%= link_to "Privacy", "#", class: "text-light" %>
          </li>
          <li>
            <%= link_to "Payment", "#", class: "text-light" %>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
        <h5 class="text-uppercase text-light">Product</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <%= link_to "Leagues", tournaments_path, class: "text-light" %>
          </li>
          <li>
            <%= link_to "Clubs", clubs_path, class: "text-light" %>
          </li>
        </ul>
      </div>
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <%= link_to "cowell-league.com", "#", class: "text-light" %>
  </div>
  <!-- Copyright -->
</footer>
