<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to dashboard_index_path, class: "navbar-brand" do %>
      <%= image_tag image_url("logo.jpg"), width: "64" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Clubs", clubs_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, method: :delete, class: "nav-link", remote: true %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
