<% flash.each do |key, value| %>
  <div class="card-body list-group-item-<%= key.to_s %> my-3" role="message">
    <a data-dismiss="message" href="#">
      <i class="fa fa-times me-2"></i>
    </a>
    <%= value %>
  </div>
<% end %>
