<%= csrf_meta_tags %> 
<%= csp_meta_tag %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
<script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-messaging-compat.js"></script>
<link href="/manifest.json" rel="manifest" />
<%= javascript_pack_tag 'firebase', 'data-turbolinks-track': 'reload' %>
