<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
    <div class="toast-header bg-warning text-dark">
      <strong class="me-auto" id="toast-title">Bootstrap</strong>
      <small id="toast-time">1 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
