<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.ico" %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid px-0">
      <div class="container-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= render "layouts/messages" %>
      <%= render "layouts/toast" %>

			<%= yield %>

      <% if logged_in? %>
        <script type="text/javascript">
          connectFirebase(<%= current_user.id %>);
        </script>
      <% end %>
    </div>
    <%# <%= render 'layouts/footer' %> %>
  </body>
</html>
